@font-face {
    font-family: 'MyFont';
    src: url(../resources/fonts/kremlin.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'MyFont';
    color: #F8C104;
    font-size: 20px;
}

.container {
    height: 755px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 700px;
    align-items: center;
    flex-wrap: wrap;
}

header {
    display: flex;
    justify-content: center;
    background-color: red;
    padding: 10px;
}

.header-container * {
    font-family: monospace;
    font-size: 30px;
}

html {
    background-color: #CC0404;
}

.panel {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 500px;
    align-items: center;
}

.rotate:hover {
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    100% {
        transform:rotate(360deg);
    }
}

.nav-button {
    position: absolute;
    top: 15px;
    height: 40px;
    width: 100px;
}

.nav-button-left {
    left: 15px;
}

.nav-button-right {
    right: 15px;
}

.nav-button:hover {
    background-color: rgba(255, 0, 0, 50);
}

.button {
    width: 80px;
    height: 30px;
}

.button:hover {
    background-color: rgba(255, 0, 0, 50);
}

.input-container td * {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33px
}

.input-container {
    width: 350px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.slider-container {
    width: 150px;
}

.panel-container {
    border-style: solid;
    border-color: #F8C104;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}
